/* COLORS */
:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-azul-eletrico: #02d7f2;
    --color-amarelo-neon: #f2e900;
    --color-vermelho-vibrante: #ff1111;
    --color-1: #f72585;
    --color-2: #7209b7;
    --color-3: #3a0ca3;
    --color-4: #4361ee;
    --color-5: #4cc9f0;
}

/* GAP */
:root{
    --gap-small: 2rem;
    --gap-big: 4rem;
}

/* GLOBAL */
:root {
    font-family: sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 1.6rem;
    background-color: var(--color-black);
}

h1{
    font-size: 4rem;
    text-align: center;
}

p{
    opacity: .5;
}

a{
    text-decoration: none;
    color: var(--color-amarelo-neon);
    opacity: .4;
}

a:hover{
    opacity: 1;
}

ul{
    list-style: none;
}

ol{
    margin: 4rem;
}

li{
    margin-top: 1rem;
}

/* HEADER */
#menu{
    cursor: pointer;
}

#menu::after{
    content: '☰';

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 3;

    background-color: var(--color-white);
    color: var(--color-black);

    border-radius: 3rem;
    font-size: 4rem;
    height: 6rem;
    width: 6rem;
}

#close-menu{
    display: none;
    position: fixed;
    top: 2rem;
    right: 2rem;
}

header{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-white);
}

#header-nav-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#header-nav-links li{
    margin-bottom: var(--gap-small);
}

#header-nav-links a{
    font-weight: bold;
    font-size: 4rem;
    color: var(--color-black);
    position: relative;
}

#header-nav-links a::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 0.3rem;
    width: 0;
    transition: all 300ms ease-in-out;
    background-color: var(--color-black);
}

#header-nav-links a:hover::after{
    width: 100%;
    left: 0%;
    opacity: 1;
}

#close-menu:checked~#menu::after{
    content: '×';
    background-color: var(--color-black);
    color: var(--color-white);
}

#close-menu:checked~header{
    display: block;
}

/* MAIN */
.container-section{
    min-height: 100vh;
    width: 100vw;
}

.container-content{
    min-height: 100vh;
    margin: 0 auto;
}

.background-black{
    background-color: var(--color-black);
    color: var(--color-white);
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--gap-small);
}

#subtitle{
    text-align: center;
    max-width: 100rem;
    font-size: 2.5rem;
    margin-top: 2rem;
}

#btn-product-services{
    font-size: 3rem;
    margin-top: 2rem;
}

.post-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--gap-small);
    padding-top: 20rem;
}

.post-content > span{
    opacity: .2;
    margin-top: .9rem;
    text-align: center;
    font-style: italic;
}

#summary li{
    text-align: center;
}

.post-section{
    margin: 0 auto;
    max-width: 90rem;
    font-size: 2.5rem;
    line-height: 4rem;
    padding-top: 4rem;
}

.post-section > h2{
    text-align: center;
    margin-bottom: 1.8rem;
}

.post-section > p{
    padding-bottom: 1.8rem;
}

.post-section > strong{
    display: block;
}

.post-section kbd{
    margin-bottom: var(--gap-small);
    display: block;
}

.post-section span{
    opacity: .2;
    margin-top: .9rem;
    text-align: center;
    font-style: italic;
}

ol > li strong{
    text-decoration: underline;
}

/* Button to Home */
#button-to-home {
    text-align: center;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    opacity: .5;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

#button-to-home:hover {
    opacity: 1;
}

/* product-services */
.product-services-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--big-gap);
    max-width: 120rem;
    margin: 0 auto;
}

.gallery-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.image-gallery{
    min-height: 36rem;
    min-width: 36rem;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.image-gallery > img{
    height: auto;
    max-width: 100%;
}

.image-gallery{
    max-width: 100%;
    height: auto;
    transition: all 300ms ease-in-out;
    text-align: center;
}

.image-gallery:hover{
    transform: scale(1.1) translate(-3%, 3%);
}

.img-generic{
    height: auto;
    max-width: 100%;
}

#payment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#how-work-pi-hole > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: var(--gap-big);
}

/* Media */
@media (max-width: 110rem){
    /* product-services */
    .gallery-img{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 40rem){
    .post-section{
        margin: 0;
    }
}