/* COLORS */
:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-azul-eletrico: #02d7f2;
    --color-amarelo-neon: #f2e900;
    --color-vermelho-vibrante: #ff1111;
}

/* GLOBAL */
:root {
    font-family: sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    font-size: 1.6rem;
}

h1{
    font-size: 2.6rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* MAIN */
.container-section{
    min-height: 100vh;
    width: 100vw;
}

.container-content{
    min-height: 100vh;
    margin: 0 auto;
}

.background-black{
    background-color: var(--color-black);
    color: var(--color-white);
}

.home-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
